<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mcapartb01.Properties.Settings.StudentConnectionString"
            connectionString="Data Source=|DataDirectory|\Student.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="mcapartb01.Properties.Settings.StudentConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Student.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>